
.background{
    background: #add8e6;

    @media screen and (max-height: 500px){
        height: 500px;
    }
}
.link{
    border-radius: 50px;
    background: #8AC9EB;
    white-space: nowrap;
    padding:12px 30px;
    color: #010606;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    text-decoration: none;
    &:hover{
        transition: all .2s ease-in-out;
        background: #fff
    }
}

.gitLink{
    border-radius: 50px;
    background: #8AC9EB;
    white-space: nowrap;
    padding:12px 30px;
    color: #010606;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    margin-right: 10px;
    text-decoration: none;
    &:hover{
        transition: all .2s ease-in-out;
        background: #5A84A4
    }
}

.imgTag{
    height: 100%;
    width: 100%;
    margin: 0 0 10px 0;
    padding-right: 0;

    @media screen and (max-width: 768px){
        display: flex;
        justify-content: center;
        height: 50%;
        width: 50%;
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 20px;
    }

}
