


@tailwind utilities;

.container {
    z-index: 1;
    height: 90vh;
    width: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
   

    @media screen and (max-width: 1300) {
        display: none;
        
    }

    @media screen and (max-height: 640px) {
        height: 700px;
        
    }

}



h1{
    font-size: 2.0rem;
    color: #5A84A4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 1.1;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and (max-height: 800px) {
        font-size: 1.5rem;   
        
        
    }

}

.img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 20vh;
    overflow: hidden;
}

.small-font{

    @media screen and (max-height: 840px) {
        font-size: .82rem;   
        
        
    }
}

.img{
    width: 70px;
    height: 70px;
    object-fit: cover;

    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-out;  
    }

    @media screen and (max-height: 670px) {
        width: 50px;
        height: 50px;
        
    }

  


}



.img-small{
    width: 80px;
    height: 70px;
    object-fit: cover;

    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-out;  
    }

    @media screen and (max-height: 670px) {
        width: 60px;
        height: 60px;
        
    }


}

.web {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 195px;
    width: 100%;
    

    @media screen and (max-height: 760px) {
        height: 140px;
    }
}

.framework {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 195px;
    width: 100%;
    

    @media screen and (max-height: 760px) {
        height: 160px;
    }
}

.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 160px;
    width: 80px;
}

.vertical-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-c{
    width: 150vh;

    @media screen and (max-height: 640px) {
        grid-auto-rows: 200px;
        
        
    }

}

.dev {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;

    @media screen and (max-height: 820px) {
        height: 180px;
    }

    @media screen and (max-height: 760px) {
        height: 140px;
    }


    

  
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;

    
}

.para{

    @media screen and (max-height: 840px) {
        font-size: .82rem;   
        
        
    }
}

.gitLink{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (max-height: 840px) {
        font-size: 1rem;   
        
        
    }

   

}
.btnWrap{
    display: flex;
    justify-content: flex-start;

    
}