.Wrapper{
    background-color: #add8e6;
    height: 100vh;
    overflow: auto;
}

.ContactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 50%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    background-color: 'transparent';
}
.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    padding: 0 50px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.col-12{
    width: 100%;
}

.col-6{
    width: 50%;
}

.text-center{
    text-align: center;
}   


.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media screen and (max-width: 520px) {
        flex-direction: column;
    }
}

.formRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.gap{
    margin: 10px;

    @media screen and (max-width: 520px) {
        margin: 0px;
        
    }
}



.form-control:focus{
    outline: none;
    border: 1px solid #000;
}

.formInput{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.formInput1{
    width: 75%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #000;

}

.subject{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #000;
}

.submit-btn{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #217DF3;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.pTag{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

.email{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}



.btn{
    background-color: #217DF3;
    border-radius: 30%;
    color: #fff;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    padding: 20px;
    height: 10px;
    text-decoration: none;
}

.btn:hover{
    color: #217DF3;
    transition: 0.5s;
}

.label {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out; 
  
    cursor: pointer;
  }
  
  .label:hover {
    background-color: #f0f0f0; 
  }

.message{
   
    @media screen and (max-width: 520px) {
       width: 60%;
        
    }
}